@font-face{
  font-family: "Lol fuente";
  src: url("./fonts/Friz\ Quadrata\ Regular.ttf");
}

body{
  background-image: url("https://images8.alphacoders.com/627/627080.png");
  font-family: "Lol fuente", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  
}

button{
  font-size: 22px;
  font-weight: bold;
  background-color: #F2E857;
  color:black;
  cursor: pointer;
}

button:hover{
  color: #F2E857;
  background-color:black;
}

.champion-img{
  width: 450px;
  height: 450px;
}

img:hover{
  transform: scale(1.4);
  transition: all 1s;
}

h1{
  color: #F2E857;
}

.rol{
  color:#F2AE2E;
  font-size: 44px;
}

.champ{
  color:#F2E857;
  font-size: 40px;
}
