@font-face{
  font-family: "Lol fuente";
  src: url("./fonts/Friz\ Quadrata\ Regular.ttf");
}

*{
  padding: 0;
}

body{
  font-family: "Lol fuente", sans-serif;
  background-color: #142021;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  
}
.btn-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn{
  width: 180px;
  margin: 0 0 10px 0;
  position: relative;
  padding: 10px 25px;
  border-top: solid 1px rgba(255,255,255,0.2);
  border-bottom: solid 1px rgba(255,255,255,0.2);
  text-transform: uppercase;
  color: #AEEDD7;
  letter-spacing: 1px;
  overflow:hidden;
  cursor: pointer;
}

.btn::before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background: #259990;
  left: 0;
  transform: translateX(-40px) rotate(45deg);
  border: none 3px #194846;
  box-shadow: 2px -2px 0px #1A5754;
  transition: all 0.2s ease;
}

.btn:hover{
  background: linear-gradient(to right, #183F3E, TRANSPARENT);
}

.btn:hover::before{
  transform: translateX(-15px) rotate(45deg);
}

.btn-clear-disabled{
  display: none;
}


.img-champion{
  width: 450px;
  height: 450px;
  border-top: solid 1px rgba(255,255,255,0.2);
  border-bottom: solid 1px rgba(255,255,255,0.2);
}

img:hover{
  transform: scale(1.18);
  transition: all 1s;
}

h1{
  color: #0AC8B9;
}

.rol{
  color:#0397AB;
  font-size: 44px;
}

.champ{
  color: #005A82;
  font-size: 40px;
  font-weight: bold;
}

.container-five-champs{
  display:flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.img-five-champs{
  width: 350px;
  height: 350px;
  border-top: solid 1px rgba(255,255,255,0.2);
  border-bottom: solid 1px rgba(255,255,255,0.2);
}

@media screen and ( 1367px <= width <= 1326px) {
  .rol{
    font-size: 32px;
  }
  .img-champion{
    width: 300px;
    height: 300px;
  }
  .img-five-champs{
    width: 200px;
    height: 200px;
  }

}

@media screen and ( 1120px <= width <= 1366px) {
  .rol{
    font-size: 32px;
  }
  .img-champion{
    width: 300px;
    height: 300px;
  }
  .img-five-champs{
    width: 200px;
    height: 200px;
  }

  .rol{
    font-size: 36px;
  }
  .champ{
    font-size: 32px;
  }
}

@media screen and ( 979px <= width <= 1119px) {
  .rol{
    font-size: 32px;
  }
  .img-champion{
    width: 300px;
    height: 300px;
  }
  .img-five-champs{
    width: 170px;
    height: 170px;
  }
  .rol{
    font-size: 36px;
  }
  .champ{
    font-size: 32px;
  }

}

@media screen and (max-width: 978px) {
  .img-champion{
    width: 300px;
    height: 300px;
  }
  .container-five-champs {
  flex-direction: column;
  }
  .btn-container{
    flex-direction: column;
  }
}